<div class="text-center my-3">
  <h1>Nos contact</h1>
</div>

<div class="mx-3 my-3">
  <ul>
    <li>Nos mails : alexis.ch@gmail.com</li>
    <li>Numéros de téléphone : 0136639831</li>
  </ul>

</div>
