<div class="text-center my-5">
  <h1>Notre équipe</h1>
</div>


<div class="container-fluid">
  <div class="d-flex justify-content-center row mx-2 row-cols-5">
    <div class="card mx-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Alexis Chambron</h5>
        <p class="card-text">Creator of The Gossip Project.</p>
        <a href="https://www.linkedin.com/in/alchambron/" class="btn btn-primary">Linkedin</a>
      </div>
    </div>

    <div class="card mx-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Kévin Tazaro</h5>
        <p class="card-text">Co-creator of The Gossip Project.</p>
        <a href="#" class="btn btn-primary">Linkedin</a>
      </div>
    </div>
  </div>
  </div> 
</div>
